
<%= simple_form_for([activity, Message.new], remote: true) do |f| %>

  <div class="form-inputs">
    <%= f.input :content, as: :text, placeholder: "Write a message", label:false, class: "form-control", input_html: {class: "content-chat-input" } %>
  </div>

  <div class="btn form-actions">
    <%= f.button :submit, "Send" %>
  </div>
<% end %>

