// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;

// COOLFIT COLORS
$background-gray: #E5E5E5;
$light-gray: #C8C8C8;
$gray: #636363;
$dark-gray: #4C4C4C;
$orange: #FA9800;
