<div class="card-dashboard">

  <%= render 'shared/card_index', activity: activity %>

  <div class="card-btns">
    <p>Rate your experience!</p>
    <!-- ADD LINK TO INPUT RATING HERE -->
  </div>

</div>
