<div class="card-dashboard">

  <%= render 'shared/card_index', activity: booking.activity %>

  <div class="card-btns">
    <!-- ADD LINK TO INPUT RATING HERE -->
    <%= render 'bookings/rating', booking: booking %>
  </div>

</div>
