<!-- show.html.erb -->

<%= simple_form_for(@activity, @booking) do |f| %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", id: "review_rating" %>
        <%= f.submit, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
