<!-- update.html.erb -->

<%= simple_form_for(@booking, html: { class: "booking_form" },:url => activity_booking_path, method: :patch) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", id: "booking_rating" %>
      <% end %>
    </div>
  </div>
</div>
