<% if current_user.avatarseed.nil? %>
  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= image_tag current_user.avatar_url, class: "avatar-medium dropdown-toggle", id: "navbarDropdown" %>
  </a>
<% else %>
  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= cl_image_tag current_user.avatarseed, class: "avatar-medium dropdown-toggle", id: "navbarDropdown" %>
  </a>
<% end %>
