<div class="banner">
  <div class="container">
    <h1>Make friends. Boost your health. Join Coolfit</h1>
    <p>Browse cool activities going on around you and join in!</p>
    <a class="btn btn-flat" href="#">[PLaceHolder BTN]</a>
  </div>
</div>
