<!-- cardiovascular.html.erb -->
<!--
How exercise clears arteries
Exercise helps dilate the body's blood vessels and enables blood to circulate more freely, said Byung-il William Choi, MD, a professor of cardixovascular medicine at the Medical College of Wisconsin in Milwaukee.

In one study Harvard researchers found up to a 20% reduction of heart-disease risk for those who most frequently got vigorous exercise. This category included running or jogging, swimming laps, playing tennis, or doing aerobics -->
<div id= "my-popup-health" class="popup-health">

  <div class="popup-content">
    <span class="close">&times;</span>
    <h3>What are major Cardiovascular risk factors?</h3>

      <ul>
        <li>High blood pressure</li>
        <li>Abnormal values for blood lipids</li>
        <li>Obesity</li>
        <li>Others: Smoking, sedentary lifestyle, etc...</li>
      </ul>


    <h3>How can they be best treated through sport?</h3>

      <ul>
        <li>Dilate blood vessels, enabling blood to circulate more freely</li>
        <li>Lower cholesterol</li>
        <li>Weight reduction</li>
        <li>Favors control of glucose levels</li>
        <li>Reduces hypertension</li>
      </ul>


    <h3>Find out more about other activities helping with this:</h3>

      <ul>
        <li>Running, Jogging</li>
        <li>Swimming</li>
        <li>Tennis</li>
        <li>Aerobics</li>
      </ul>

  </div>
</div>
