<div class="container mt-4 container-edit-form">
  <h3>Edit your information</h3>

  <br>

  <%= render 'form', user: @user %>

  <div style="margin-top: 10px; text-align:right;">
    <%= link_to 'Cancel', dashboard_path, class: "password-btn" %>
  </div>
</div>
