<div class="container">
  <h1>Thank You for Signing up to CoolFit</h1>
    <p>In order to be able to give you a fitting recommendation and track your progress we would ask you to fill out this short "current activity status" Form </p>
    <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Activity Status
  </button>
</p>
  <div class="collapse" id="collapseExample">
    <div class="card card-form">
      <%= simple_form_for :anything do |f| %>
      <h2>Activity Status Questionnaire</h2>
      <p>This Questionnaire is based on the International Physical Activity Questionnaire (IPAQ) to help us better understand your current physical activity level in order to be able to give you a customized recommendation</p>
      <p> Part one:</p>
      <p>TRANSPORTATION PHYSICAL ACTIVITY - These questions are about how you traveled from place to place, including to places like work, stores, movies, and so on.</p>
      <div class="form-inputs">
        <ol>
          <%= f.input :question, label: "During the last 7 days, on how many days did you travel in a motor vehicle like a train, bus, car, or tram?" %>
        </ol>
      <% end %>
      </div>
    </div>
  </div>
</div>
