<div class="card-dashboard" data-interests-id="<%= activity.id %>">

  <%= render 'shared/card_index', activity: activity %>

  <div class="card-btns">
    <%= link_to "Register", activity_bookings_path(activity), method: :post, remote: true, class: 'btn admin-btn' %>
    <%= link_to "Unlike", activity_interest_path(activity), method: :delete, remote: true, class: 'btn admin-btn' %>
  </div>

</div>
