
<div class="container banner-404-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Bundesstra%C3%9Fe_404_number.svg/1200px-Bundesstra%C3%9Fe_404_number.svg.png) ">
  <div>
    <h1>Page not found</h1>
    <p>Whoops we couldn’t find the page you were looking for!</p>
  </div>
</div>



