<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
 <!--      <div class="popup-container">
        <div class="content"> -->
      <div class="bg-image"></div>

        <div class="bg-text" style= "list-style:none;">
      <%#= render '../health/cardiovascular' %>
        <h3>Major Cardiovascular risk factors</h3>
        <br>

        <ul>
          <li>High blood pressure</li>
          <li>Abnormal values for blood lipids</li>
          <li>Obesity</li>
        </ul>

        <hr size="1" width="100%" align="left" color="#C8C8C8">

      <h3>Benefits of activity</h3>
      <br>

        <ul>
          <li>Dilates blood vessels</li>
          <li>Lowers cholesterol</li>
          <li>Weight reduction</li>
          <li>Favors control of glucose levels</li>
          <li>Reduces hypertension</li>
        </ul>

        <hr size="1" width="100%" align="left" color="#C8C8C8">

      <h3>Other activites providing similar benefits</h3>
      <br>

        <ul>
          <li>Running, Jogging</li>
          <li>Swimming</li>
          <li>Tennis</li>
          <li>Aerobics</li>
        </ul>
        </div>
    </div>
  </div>
</div>
