<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%#= render '../health/cardiovascular' %>
      <h3>What are major Cardiovascular risk factors?</h3>

      <ul>
        <li>High blood pressure</li>
        <li>Abnormal values for blood lipids</li>
        <li>Obesity</li>
        <li>Others: Smoking, sedentary lifestyle, etc...</li>
      </ul>


    <h3>How can they be best treated through sport?</h3>

      <ul>
        <li>Dilate blood vessels, enabling blood to circulate more freely</li>
        <li>Lower cholesterol</li>
        <li>Weight reduction</li>
        <li>Favors control of glucose levels</li>
        <li>Reduces hypertension</li>
      </ul>


    <h3>Find out more about other activities helping with this:</h3>

      <ul>
        <li>Running, Jogging</li>
        <li>Swimming</li>
        <li>Tennis</li>
        <li>Aerobics</li>
      </ul>
    </div>
  </div>
</div>
