.banner {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(sports_mosaic.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin-bottom: 15px;
  color: $background-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: light;
}

.banner h3 {
  color: $background-gray;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: lighter;
}


