.btn-search {
  font-size: 20px;
  background-color: $orange;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.btn-search:hover {
  transition-delay: s150ms;
}

.btn-search-navbar {
  font-size: 16px;
  line-height: 1em;
  height: 5vh;
  background-color: $orange;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  //margin-top: 5px;
  filter: brightness(95%);
}

.btn-search-navbar:hover {
  transition-delay: s150ms;
}

.admin-btn {
  font-size: 14px;
  background-color: white;
  color: $gray;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
  text-decoration: none;
}

.admin-btn:hover {
  color: white;
  background-color: $orange;
  transition-delay: s150ms;
  text-decoration: none;
}

.sign-in-btn {
  font-size: 16px;
  color: $background-gray;
}

.sign-in-btn:hover {
  color: $orange;
}

.edit-btns {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.password-btn {
  color: $gray;
  margin: 0 auto;
}

.password-btn:hover {
  text-decoration: none;
  color: $orange;
}

.btn-edit-user {
  font-size: 16px;
  background-color: white;
  color: $dark-gray;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  // filter: brightness(97%);
}

.btn-edit-user:hover {
  background-color: $orange;
  color: white;
  transition-delay: s150ms;
}

.register-btn {
  font-size: 14px;
  background-color: white;
  color: $dark-gray;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
  text-decoration: none;
}

.register-btn:hover {
  background-color: $orange;
  color: white;
  transition-delay: s150ms;
  text-decoration: none;
}

.register-btn-selected {
  font-size: 14px;
  background-color: white;
  color: $dark-gray;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
  text-decoration: none;
}

.register-btn-selected:hover {
  color: $orange;
  transition-delay: s150ms;
  text-decoration: none;
}

.fully-booked {
  font-size: 14px;
  color: $light-gray;

  .bookedtext {
    width: 120px;
    bottom: -5%;
    left: 50%;
    margin-left: -60px;
  }
}

.fully-booked:hover {
  color: $light-gray;

  .bookedtext {
  visibility: visible;
}
}

.bookedtext {
  visibility: hidden;
  background-color: white;
  color: $dark-gray;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.interest-btn {
  font-size: 20px;
  font-weight: 1000;
  background-color: transparent;
  color: $dark-gray;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
  filter: brightness(95%);
  text-decoration: none;
}

.interest-btn:hover {
  color: $orange;
  transition-delay: s150ms;
  text-decoration: none;
}

.interest-btn-selected {
  font-size: 18px;
  background-color: transparent;
  color: $orange;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
  filter: brightness(95%);
  text-decoration: none;
}

.interest-btn-selected:hover {
  color: $dark-gray;
  transition-delay: s150ms;
  text-decoration: none;
}

.btn-question-user {
  font-size: 16px;
  background-color: $light-gray;
  color: $dark-gray;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  filter: brightness(97%);
  text-align: center;
}

.btn-question-user:hover {
  background-color: $orange;
  color: white;
  transition-delay: s150ms;
}

.submit-rating-btn {
  font-size: 14px;
  background-color: white;
  color: $gray;
  width: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
  text-decoration: none;
}
