.btn-search {
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  background-color: $orange;
  color: $background-gray;
  border-radius: 10px;
  margin: 10px;
}

.btn-search:hover {
  transition-delay: s150ms;
}

.btn-search-navbar {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  background-color: $orange;
  color: $background-gray;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
}

.btn-search-navbar:hover {
  transition-delay: s150ms;
}

.admin-btn {
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  background-color: $dark-gray;
  color: $background-gray;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(95%);
}

.admin-btn:hover {
  color: $orange;
  transition-delay: s150ms;
}
