// INDEX

.card-index {
  overflow: hidden;
  height: 100px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.card-index-infos {
  padding: 16px;

  h3 {
    font-size: 20px;
    color: $gray;
  }

   p {
    font-size: 12px;
    color: $orange;
  }
}

.cards-index a {
  text-decoration: none;
}

.card-index-img {
  height: 100%;
  width: 190px;
  object-fit: cover;
}

.card-btns-index {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  align-self: center;
}

// DASHBOARD

.card-dashboard {
  display: flex;
}

.card-btns {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  align-self: center;
}

// LANDING

.category-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px
}


.card-landing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-landing-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 16px;
}

.card-landing-infos :hover {
  text-decoration: none;
}

.card-landing-infos p {
  color: $gray;
}

.card-landing-infos i {
  color: $gray;
}

.card-landing-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
