// INDEX

.index-container {
  display: flex;
  z-index:-1;
}

.card-index {
  overflow: hidden;
  height: 100px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.card-index-infos {
  padding: 16px;

  h3 {
    font-size: 18px;
    color: $gray;
  }

   p {
    font-size: 12px;
  }

}

.card-index-benef {
  color: $orange;
}

.card-index-tags {
  margin-right: 10px;
}

.avatar-name {
  color: $gray;
}

.cards-index a {
  text-decoration: none;
}

.card-index-img {
  height: 100%;
  width: 190px;
  object-fit: cover;
}

.interest-index {
  text-align: right;
}

// DASHBOARD

.card-dashboard {
  display: flex;
}

.card-btns {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  align-self: center;
}

// LANDING

#landing a {
  text-decoration: none;
}

.category-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px
}


.card-landing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .5s ease;
}

.card-landing-infos {
  padding: 16px;
  font-size: 16px;
  color: $gray;
  text-decoration: none;
}

.card-landing-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
