.card-index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card-index-infos {
  padding: 16px;

  h3 {
    font-size: 20px;
    color: $gray;
  }
}

.cards-index a {
  text-decoration: none;
}

.card-index-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-landing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-landing-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-landing-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
