.navbar-coolfit {
  justify-content: space-between;
  background: $gray;
}

.navbar-coolfit .navbar-collapse {
  flex-grow: 0;
}

a.navbar-logo:hover {
  text-decoration: none;
  color: $background-gray;
}


