.navbar-coolfit {
  justify-content: space-between;
  background: $gray;
  height: 71px;
  margin-bottom: 10px;
}

.navbar-coolfit .navbar-collapse {
  flex-grow: 0;
}

a.navbar-logo:hover {
  text-decoration: none;
  color: white;
}


.navbar ul {
  display: inline-block;
}

.navbar li {
  float: left;
}

.navbar li + li {
  margin-left: 20px;
}

.navitem {
  margin-top: 15px;
}
