.banner-search-container {
  text-align: center;
  margin-top: 20px;
}

.banner-search-bar {
  display: inline-block;
}

.banner-search {
  width: 40vh;
  height: 6vh;
  text-align: start;
  padding-left: 15px;
  background-color: $background-gray;
  color: $gray;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}

.navbar-search {
  width: 40vh;
  height: 5vh;
  text-align: start;
  padding-left: 15px;
  background-color: $dark-gray;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  outline: none;

  &::placeholder {
    color:$light-gray;
    font-size: 16px;
  }

}
