.table {
  width:80%;
  border-right: solid 1px;
  // margin: 0 auto;
}

.table th {
  vertical-align: middle;
  font-size: 24px;
  width: 35%;
}

.table td {
  vertical-align: middle;
  font-size: 20px;
  padding-right: 30px;
}
