<div class="container mt-4 container-edit-form">
  <h3>Edit your activity</h3>

  <%= render 'form', activity: @activity %>

  <div style="margin-top: 10px; text-align:right;">
    <%= link_to 'Show', @activity, class: "password-btn" %>
  </div>

  <div style="margin-top: 10px; text-align:right;">
    <%= link_to 'Cancel', dashboard_owner_path, class: "password-btn" %>
  </div>
</div>
