<p id="notice"><%= notice %></p>

<div class="cards">
  <% @activities.each do |activity| %>

    <div class="card-activity">
      <% if activity.photo_db.nil? %>
        <%= cl_image_tag activity.photo_user,crop: :fill, gravity: :face, class: 'card-activity-img' %>
      <% else %>
        <%= image_tag activity.photo_db,crop: :fill, gravity: :face, class: 'card-activity-img' %>
      <% end %>
      <div class="card-activity-infos">
        <h3><%= activity.name %></h3>
      </div>
    </div>

  <% end %>
</div>

