<div class="container mt-4 container-edit-form">
  <h3>Organize a new event!</h3>

  <br>

  <%= render 'form', activity: @activity %>

  <div style="text-align:right; margin-top: 10px;">
    <%= link_to 'Cancel', owner_dashboard_path(current_user), class: "password-btn" %>
  </div>
</div>

<br>
