<div class="container mt-4 container-edit-form">
  <h3>Organize a new event!</h3>

  <br>

  <%= render 'form', activity: @activity %>

  <div style="text-align:right;">
    <%= link_to 'Cancel', dashboard_owner_path, class: "password-btn" %>
  </div>
</div>
