.form-title{
  font-family:$headers-font;
  color: white;
  text-align: center;
  padding-top: 5vh;
}

.devise-background {
  background-image: linear-gradient( rgba(0,0,0,0.1),rgba(0,0,0,0.1) ),asset-url('old-sports-mosaic.png')
}

.form-inputs.devise {
  color: white;
  font-family: $body-font;
  background-color: $gray;
  opacity: 0.85;
  padding: 30px;
  border-radius: 2px;
}

.text-muted {
  color: white !important;
}

.container-sign{
  width: 80vh;
}

.or-text{
  text-align: center;
  color: white;
  font-family: $body-font;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text-central{
  text-align: center;
}

.content-chat-input {
  background: rgba(80, 80, 80, 0.5);
  border: none;
  outline: none;
  color: white;
  filter: brightness(120%);
  border-radius: 25px;

  &:focus {
    background: rgba(80, 80, 80, 0.5);
    color: white;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
